{% load staticfiles otree_tags %}

{% if subsession.dims > 1 %}
    <table>
        <thead>
            <tr>
                <th>Sub- Price</th>
                <th>Seller 1</th><th>Seller 2</th>{% if subsession.sellers == 4 %}<th>Seller 3</th><th>Seller 4</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% if subsession.sellers == 2 %}
            {% for i, s1_pd, s2_pd in prices %}
                <tr>
                    <td>
                        <label>{{ i }}</label>
                    </td>
                    <td>
                        <span class="pricedim">
                            {{ s1_pd }}
                        </span>
                    </td>
                    <td>
                        <span class="pricedim">
                            {{ s2_pd }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            {% for i, s1_pd, s2_pd, s3_pd, s4_pd in prices %}
                <tr>
                    <td>
                        <label>{{ i }}</label>
                    </td>
                    <td>
                        <span class="pricedim">
                            {{ s1_pd }}
                        </span>
                    </td>
                    <td>
                        <span class="pricedim">
                            {{ s2_pd }}
                        </span>
                    </td>
                    <td>
                        <span class="pricedim">
                            {{ s3_pd }}
                        </span>
                    </td>
                    <td>
                        <span class="pricedim">
                            {{ s4_pd }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody></table>
{% else %}
    <table>
        <thead>
            <tr>
                <th></th><th>Seller 1</th><th>Seller 2</th>{% if subsession.sellers == 4 %}<th>Seller 3</th><th>Seller 4</th>{% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Price
                </td>
                {% if subsession.sellers == 2 %}
                    {% for i, s1, s2 in prices %}
                        <td>
                            <span class="pricedim">
                                {{ s1 }}
                            </span>
                        </td>
                        <td>
                            <span class="pricedim">
                                {{ s2 }}
                        </td>
                    {% endfor %}
                {% else %}
                    {% for i, s1, s2, s3, s4 in prices %}
                        <td>
                            <span class="pricedim">
                                {{ s1 }}
                            </span>
                        </td>
                        <td>
                            <span class="pricedim">
                                {{ s2 }}
                        </td>
                        <td>
                            <span class="pricedim">
                                {{ s3 }}
                        </td>
                        <td>
                            <span class="pricedim">
                                {{ s4 }}
                        </td>
                    {% endfor %}
                {% endif %}
            </tr>
    </tbody></table>
{% endif %}
<div id="buyer-choice-radios" class="form-group required">
    <!--<label for="id_contract_seller_rolenum" class="control-label">Choose a Seller</label>-->
    <div class="controls field-contract_seller_rolenum">
        <label for="id_contract_seller_rolenum_1" class="u-w50pct"><input type="radio" required="" name="contract_seller_rolenum" value="1" id="id_contract_seller_rolenum_1">
            Choose Seller 1
        </label>
        <label for="id_contract_seller_rolenum_2" class="u-w50pct"><input type="radio" required="" name="contract_seller_rolenum" value="2" id="id_contract_seller_rolenum_2">
            Choose Seller 2
        </label>
        {% if subsession.sellers == 4 %}
            <label for="id_contract_seller_rolenum_3" class="u-w50pct"><input type="radio" required="" name="contract_seller_rolenum" value="3" id="id_contract_seller_rolenum_3">
                Choose Seller 3
            </label>
            <label for="id_contract_seller_rolenum_4" class="u-w50pct"><input type="radio" required="" name="contract_seller_rolenum" value="4" id="id_contract_seller_rolenum_4">
                Choose Seller 4
            </label>
        {% endif %}
    </div>
</div>