{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% block title %}
    Seller Instructions
{% endblock %}
{% block content %}
    <div class="col_container">
        <div class="col">
            {% if subsession.round_number == 1  %}
                <section>
                    <p>
                        Sellers earn tokens by producing objects and selling them to buyers.  When you are a seller, your only job is to set your {{ subsession.dims | pluralize:"price, sub-prices" }}.
                    </p>
                    <p>
                        When a buyer chooses to buy an object from you, you will automatically produce it.  Since there {{ subsession.buyers|pluralize:"is,are"}} {{ subsession.buyers }} buyer{{ subsession.buyers|pluralize }} in your group, you can sell between 0 and {{ subsession.buyers }} objects each round.
                    </p>
                </section>
            {% endif %}
            <section>
                {% if subsession.round_number == 1  %}
                    <p>
                        When you are a seller, each object you sell will cost you {{ Constants.prodcost }} tokens to produce.  Your total earnings at the end of a round will therefore equal the tokens you received from buyers, minus your total production costs.
                    </p>
                {% endif %}
                <p>
                    This table summarizes what can happen each round:
                </p>
                <table class="seller_outcomes">
                    <thead><tr>
                        <th># Sold</th>
                        <th>Received from Buyers</th>
                        <th>Production Cost</th>
                        <th>Total Earnings</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr><tr>
                            <td>1</td>
                            {% if subsession.dims > 1 %}
                                <td>Sum of sub-prices ("Total price")</td>
                            {% else %}
                                <td>Price</td>
                            {% endif %}
                            <td>{{ Constants.prodcost }}</td>
                            {% if subsession.dims > 1 %}
                                <td>"Total price" - {{ Constants.prodcost }}</td>
                            {% else %}
                                <td>Price - {{ Constants.prodcost }}</td>
                            {% endif %}
                        </tr>
                        {% for i in seller_outcomes %}
                        <tr>
                            <td>{{ i }}</td>
                            {% if subsession.dims > 1 %}
                                <td>{{ i }} x "Total price"</td>
                            {% else %}
                                <td>{{ i }} x Price</td>
                            {% endif %}
                            <td>{% widthratio i 1 "100"%}</td>
                            {% if subsession.dims > 1 %}
                                <td>{{ i }} x "Total price" - {% widthratio i 1 "100"%}</td>
                            {% else %}
                                <td>{{ i }} x Price</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                </tbody></table>
            </section>
            <section>
                <p>
                    {% if subsession.round_number == 1 %}
                        Now, we will go over how sellers set {{ subsession.dims | pluralize:"prices,sub-prices" }}.
                    {% endif %}
                    To the right is an example of a seller's interface. Feel free to enter prices there to see how it works.
                </p>
                <p>
                    Things to keep in mind when setting prices:
                </p>

                <ol>
                    <li>{{ subsession.dims | pluralize:"Prices,Sub-prices" }} must be whole numbers (no decimals).</li>
                    <li>{{ subsession.dims | pluralize:"Prices,Sub-prices" }} cannot be negative.</li>
                    <li>{{ subsession.dims | pluralize:"Prices,The total price (sum of sub-prices)" }} cannot exceed {{ Constants.maxprice }} tokens.</li>
                    {% if subsession.dims > 1 %}
                        <li>You must enter values for all sub-prices.</li>
                    {% endif %}
                </ol>

            </section>
                <section>
                    {% if subsession.dims > 1 %}
                    <p>
                        You must set your sub-prices by typing values for each sub-price. The sum of the sub-prices will be shown in the "Total Price" box.
                    </p>
                    {% endif %}
                    <p>
                        Before continuing, please try to set the {{ subsession.dims | pluralize:"price,sub-prices" }} in the example interface to the right.
                    </p>
                </section>
            <nav>
                <input type="button" class="a-btn next" value="Next"></input>
                <input type="submit"></input>
                <input type="button" class="a-btn prev" value="Previous" disabled="disabled"></input>
            </nav>
        </div>
        <div class="col">
            {% include "general_dimension/parts/sellerChoicePart.html" with example="True" %}
        </div>
    </div>

{% endblock %}
{% block app_styles %}
   <link href="{% static "general_dimension/seller.css" %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'general_dimension/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'general_dimension/seller.js' %}"></script>

{% endblock %}
