{% load staticfiles otree_tags %}

{% if subsession.dims > 1 %}
    <table id = "prices">
        <thead>
            <tr>
                <th>Sub- Price</th>
                {% for i in sellers %}
                    <th>Seller {{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for i, price_dim in prices %}
            <tr>
                <td>
                    <label>{{ i }}</label>
                </td>
            {% for price_dim_i in price_dim %}
                    <td>
                        <span class="pricedim">
                            {{ price_dim_i }}
                        </span>
                    </td>
            {% endfor %}
            </tr>
        {% endfor %}
    <tr class = "controls field-contract_seller_rolenum">
        <td>Choose:</td>
        {% for i in sellers %}
        <td>
            <label><input type = "radio" required = "" name = "contract_seller_rolenum" value = {{ i|stringformat:"i"}}>
                Seller {{ i }}
            </label>
        </td>
        {% endfor %}
    </tr>
    </tbody></table>
{% else %}
    <table id = "prices">
        <thead>
            <tr> <th></th>
            {% for i in sellers %}
                <th>Seller {{ i }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr class = "one_dim">
                {% for i, price_dim in prices %}
                <td>
                    Price
                </td>
                    {% for price_dim_i in price_dim %}
                        <td>
                            <span class="pricedim">
                                {{ price_dim_i }}
                            </span>
                        </td>
                    {% endfor %}
                {% endfor %}
            </tr>
    <tr class = "controls field-contract_seller_rolenum">
        <td>Choose:</td>
        {% for i in sellers %}
        <td>
            <label><input type = "radio" required = "" name = "contract_seller_rolenum" value = {{ i|stringformat:"i"}}>
                Seller {{ i }}
            </label>
        </td>
        {% endfor %}
    </tr>
    </tbody></table>

{% endif %}
<!--
<div id="buyer-choice-radios" class="form-group required">
    #### <label for="id_contract_seller_rolenum" class="control-label">Choose a Seller</label>
    <div class="controls field-contract_seller_rolenum">
        {% for i in sellers %}
            <label><input type = "radio" required = "" name = "contract_seller_rolenum" value = {{ i|stringformat:"i"}}>
                Choose Seller {{ i }}
            </label>
        {% endfor %}
    </div>
</div>
//-->