{% load staticfiles otree_tags %}


<div class="results">
<div class="col_container">
    <div class="col">
        <div class="earnings_prose">
            <p>
                This round you were {{ player.roledesc }} {{ player.rolenum }} and earned {{ player.payoff_marginal }} tokens.
            </p>
            {% if player.roledesc == "Buyer" %}
                <p>
                    You purchased an object from Seller {{ player.contract_seller_rolenum }} for {{ player.bid_total }} tokens, and you exchanged your object for {{ Constants.consbenefit }} tokens.
                </p>
            {% else %}
                <p>
                    You sold {{ player.numsold }} object{{ player.numsold | pluralize }} for {{ player.ask_total }} tokens each.
                </p><p>
                    Your total production cost was {{ prodcost }} tokens.
                </p>
            {% endif %}
            <p>
                Your earnings are itemized in the table below.
            </p>
        </div>
    
        <div class="table_container">
            <h2>Your Earnings</h2>
            {% if player.roledesc == "Buyer" %}
            <table class="earnings"><tbody>
                <tr>
                    <td>Benefit</td><td>{{ Constants.consbenefit }}</td>
                </tr><tr>
                    <td>Cost</td><td>-{{ player.bid_total }}</td>
                </tr><tr class="total">
                    <td>Total </td><td>{{ player.payoff_marginal }}tokens</td>
                </tr>
            </tbody></table>
            {% else %}
            <table class="earnings">
                <thead><tr>
                    <th></th>
                    <th>Value</th>
                    <th># sold</th>
                    <th>Totals</th>
                </tr></thead>
                <tbody>
                    <tr>
                        <td>Benefit</td><td>{{ player.ask_total }}</td>
                        <td>x {{ player.numsold }}</td>
                        <td> {{ benefit }}</td>
                    </tr>
                    <tr>
                        <td>Cost</td><td>-{{ Constants.prodcost }}</td>
                        <td> x {{ player.numsold }}</td>
                        <td> {% if prodcost > 0 %} -{{ prodcost }} {% else %} 0 {% endif %}</td>
                    </tr>

                    <tr class="total">
                        <td>Total</td>
                        <td>{{ subtotal }}</td>
                        <td> x {{ player.numsold }}</td>
                        <td>{% widthratio subtotal 1 player.numsold %} tokens</td>
                    </tr>
            </tbody></table>
            {% endif %}
        </div>
    
        <div class="table_container">
            <h2>Buyers' Choices</h2>
            <table>
                <thead><tr>
                    <th></th>
                    {% for i in sellers %}
                    <th>Seller {{ i }}</th>
                    {% endfor %}
                </tr></thead>
                <tbody>
                    {% for buyer_i, seller_list in buyer_choices %}
                    <tr>
                        <td>Buyer {{ buyer_i }}</td>
                        {% for seller_j in seller_list %}
                            <td align="center">{% if seller_j == 1 %}X{% endif %}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col prices">
        <h2>Sellers' Prices</h2>
        <table>
            <thead>
                <tr>
                    <th>{{ subsession.dims | pluralize:",Sub-prices" }}</th>
                    {% for i in sellers %}
                        <th>Seller {{ i }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% if subsession.dims > 1 %}
                    {% for i, price_dim in prices %}
                        <tr>
                            <td>
                                <label>{{ i }}</label>
                            </td>
                        {% for price_dim_i in price_dim %}
                                <td>
                                    <span class="pricedim">
                                        {{ price_dim_i }}
                                    </span>
                                </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
            {% endif %}
            <tr>
                {% if subsession.dims > 1 %}
                    <td>Total Price</td>
                {% else %}
                    <td>Price</td>
                {% endif %}
                {% for total in totals %}
                <td>
                    {{ total }} tokens
                </td>
                {% endfor %}
            </tr>
        </tbody></table>
    </div>
</div>
</div>
